#folium

In [ ]:
import folium

In [ ]:
import pandas as pd
df_1 = pd.read_excel('/content/sample_data/jejuMatJip.xlsx')
df_2 = pd.read_excel('/content/sample_data/jejudoMatJip.xlsx')
df_3 = pd.read_excel('/content/sample_data/jejuYeoHang.xlsx')
df_4 = pd.read_excel('/content/sample_data/jejudoGwanGwang.xlsx')

In [ ]:
df_place=list(df_1.place.unique())+list(df_2.place.unique())+list(df_3.place.unique())+list(df_4.place.unique())

In [ ]:
len(df_place)

1427

In [ ]:
# 카카오API를 사용하여 주소->좌표 변환
import requests, json

def get_location(address):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
  # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
  # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
#  headers = {"Authorization": "KakaoAK 개인키"}
  headers = {"Authorization": "KakaoAK aec61e1d1ba5fe57f9f537d020297cf0"}
  api_json = json.loads(str(requests.get(url,headers=headers).text))
  address = api_json['documents'][0]['address']
  crd = {"lat": str(address['y']), "lng": str(address['x'])}
  address_name = address['address_name']

  return crd

In [ ]:
from geopy.geocoders import Nominatim

def geocoding(address):
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    geo = geolocoder.geocode(address)
    crd = {"lat": str(geo.latitude), "lng": str(geo.longitude)}

    return crd

In [ ]:
import numpy as np
crd = []
for i in range(len(df_place)):
  try :
      crd.append(geocoding(df_place[i]))
  except:
    crd.append(np.nan)

In [ ]:
len(crd)

1427

In [ ]:
crd

[{'lat': '33.2572971', 'lng': '126.515299'},
 {'lat': '37.220334949999994', 'lng': '127.31538605869258'},
 nan,
 {'lat': '35.1799528', 'lng': '129.0752365'},
 {'lat': '46.3144754', 'lng': '11.0480288'},
 nan,
 {'lat': '33.3939924', 'lng': '126.5626653'},
 nan,
 {'lat': '33.3939924', 'lng': '126.5626653'},
 nan,
 {'lat': '33.3663086', 'lng': '126.3574576'},
 {'lat': '33.2783709', 'lng': '126.71240130847076'},
 nan,
 nan,
 {'lat': '33.38034745', 'lng': '126.54825445912047'},
 nan,
 nan,
 {'lat': '33.2505828', 'lng': '126.4232425'},
 nan,
 {'lat': '37.476814700000006', 'lng': '126.72353818699722'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2644805', 'lng': '126.3704345'},
 {'lat': '33.45079', 'lng': '126.3752'},
 {'lat': '35.87085015', 'lng': '128.5982098265411'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.1997201', 'lng': '126.29021937499999'},
 nan,
 {'lat': '34.7810635', 'lng': '128.5638955'},
 {'lat': '-6.0287767', 'lng': '-79.6249366'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.4584505', 'lng': '126.9420221'},
 nan,
 {'lat': '35.0818182', 'lng': '126.1213265'},
 nan,
 nan,
 {'lat': '34.42130535', 'lng': '126.68715595987166'},
 {'lat': '37.8055889', 'lng': '126.2652492'},
 {'lat': '35.8713', 'lng': '128.6018'},
 {'lat': '33.4023469', 'lng': '126.2547808'},
 {'lat': '37.4924977', 'lng': '127.4994231'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.4361169', 'lng': '126.9179113'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.46948855', 'lng': '126.49261680277652'},
 {'lat': '33.4507097', 'lng': '126.9143356'},
 {'lat': '33.4528696', 'lng': '126.3417842'},
 {'lat': '33.47380604999999', 'lng': '126.40575251570422'},
 nan,
 nan,
 {'lat': '36.3970284', 'lng': '127.4027196'},
 {'lat': '47.293867', 'lng': '11.4734514'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.5024826', 'lng': '126.510722'},
 {'lat': '33.4359612', 'lng': '126.9162804'},
 nan,
 {'lat': '56.0105859', 'lng': '37.8478047'},
 nan,
 {'lat': '33.423008', 'lng': '126.6259316'},
 {'lat': '33.256294', 'lng': '126.4279173'},
 nan,
 {'lat': '33.5381811', 'lng': '126.67218181499402'},
 nan,
 nan,
 nan,
 {'lat': '37.8289042', 'lng': '128.446046'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2537288', 'lng': '126.5059278'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.43178975', 'lng': '126.69374590036497'},
 nan,
 nan,
 nan,
 {'lat': '33.2218157', 'lng': '126.2529945'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.55599275', 'lng': '126.79603122376355'},
 nan,
 nan,
 {'lat': '33.2371807', 'lng': '126.5129878'},
 {'lat': '50.95191505', 'lng': '-1.3561000015780094'},
 {'lat': '33.45120015', 'lng': '126.30588922838473'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3643757', 'lng': '126.8395566'},
 {'lat': '33.3068325', 'lng': '126.3159087'},
 nan,
 {'lat': '33.3931491', 'lng': '126.8003666'},
 {'lat': '33.2939789', 'lng': '126.7616655'},
 nan,
 nan,
 {'lat': '33.28617', 'lng': '126.70751'},
 {'lat': '33.507257249999995', 'lng': '126.95500154041363'},
 {'lat': '33.4530683', 'lng': '126.9249291'},
 nan,
 {'lat': '37.8512851', 'lng': '15.2842165'},
 {'lat': '35.5391697', 'lng': '129.3119136'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '37.5892262', 'lng': '126.7146887'},
 {'lat': '33.4930566', 'lng': '126.5130589'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.438543', 'lng': '126.9172397'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.407754', 'lng': '126.2658559'},
 {'lat': '33.469226', 'lng': '126.9199064'},
 {'lat': '33.23332565', 'lng': '126.3130364256601'},
 nan,
 {'lat': '33.48306705', 'lng': '126.80618965585273'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.35435535', 'lng': '126.25314153075264'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '35.23433', 'lng': '127.96892'},
 nan,
 nan,
 nan,
 {'lat': '33.2220044', 'lng': '126.2549772'},
 nan,
 nan,
 nan,
 {'lat': '33.4962669', 'lng': '126.5361249'},
 {'lat': '33.2753832', 'lng': '126.6879596'},
 nan,
 {'lat': '33.52502095', 'lng': '126.8604233513482'},
 nan,
 nan,
 {'lat': '33.51952', 'lng': '126.496774'},
 nan,
 nan,
 {'lat': '33.364', 'lng': '126.21729'},
 nan,
 nan,
 {'lat': '33.2629138', 'lng': '126.383308'},
 {'lat': '33.24509885', 'lng': '126.56215879997868'},
 {'lat': '37.50531145', 'lng': '127.04195623031748'},
 {'lat': '37.5971458', 'lng': '126.96252634999999'},
 nan,
 {'lat': '11.9569414', 'lng': '121.9303905'},
 nan,
 nan,
 nan,
 {'lat': '33.4861009', 'lng': '126.4844494'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3254519', 'lng': '126.8439724'},
 {'lat': '36.8490367', 'lng': '127.01139975037407'},
 nan,
 {'lat': '33.30594505', 'lng': '126.2894906499956'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2562559', 'lng': '126.4254164'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '37.2259078', 'lng': '127.1276653'},
 {'lat': '33.3939924', 'lng': '126.5626653'},
 nan,
 nan,
 nan,
 {'lat': '33.462864', 'lng': '126.934431'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.528254', 'lng': '126.7701281'},
 nan,
 {'lat': '33.460409', 'lng': '126.9308418'},
 nan,
 {'lat': '33.248845', 'lng': '126.3339384'},
 nan,
 {'lat': '33.2619174', 'lng': '126.5617693'},
 nan,
 nan,
 {'lat': '33.507257249999995', 'lng': '126.95500154041363'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.5120612', 'lng': '126.519618'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '37.4903652', 'lng': '126.72657871783206'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.5197859', 'lng': '126.5718881'},
 nan,
 nan,
 nan,
 {'lat': '33.4599065', 'lng': '126.8325016'},
 nan,
 {'lat': '33.2358257', 'lng': '126.3673505'},
 {'lat': '33.4156745', 'lng': '126.3143699'},
 {'lat': '33.484188', 'lng': '126.5993497'},
 nan,
 nan,
 {'lat': '33.2182754', 'lng': '126.2505389'},
 nan,
 {'lat': '33.4886311', 'lng': '126.681166'},
 {'lat': '33.4698168', 'lng': '126.9222953'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3391601', 'lng': '126.8555247'},
 nan,
 nan,
 nan,
 {'lat': '37.5621993', 'lng': '126.9845035'},
 {'lat': '33.3074453', 'lng': '126.2538471'},
 {'lat': '33.2255516', 'lng': '126.2995846'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2449759', 'lng': '126.5624302'},
 {'lat': '33.2597331', 'lng': '126.3573131'},
 nan,
 nan,
 {'lat': '41.7075066', 'lng': '44.7657721'},
 nan,
 {'lat': '37.47500635', 'lng': '126.95714040086992'},
 nan,
 {'lat': '9.3357203', 'lng': '5.2303751'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.5325216', 'lng': '126.8501235'},
 nan,
 {'lat': '33.505466999999996', 'lng': '126.46493211405252'},
 {'lat': '28.5614184', 'lng': '77.1939656'},
 {'lat': '33.3661103', 'lng': '126.2002318'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2425081', 'lng': '126.5548104'},
 nan,
 nan,
 {'lat': '33.395112', 'lng': '126.2402796'},
 {'lat': '35.5328996', 'lng': '129.3093435'},
 nan,
 {'lat': '33.2476846', 'lng': '126.559189'},
 nan,
 {'lat': '37.5652418', 'lng': '126.966674'},
 nan,
 {'lat': '33.4366945', 'lng': '126.9222208'},
 nan,
 nan,
 {'lat': '33.2518298', 'lng': '126.4263846'},
 {'lat': '46.3144754', 'lng': '11.0480288'},
 {'lat': '33.2515881', 'lng': '126.5627986'},
 nan,
 nan,
 {'lat': '33.3939924', 'lng': '126.5626653'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '28.0741666', 'lng': '91.6824403'},
 nan,
 nan,
 nan,
 {'lat': '33.3643757', 'lng': '126.8395566'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '37.5666791', 'lng': '126.9782914'},
 {'lat': '35.5391697', 'lng': '129.3119136'},
 nan,
 {'lat': '33.38034745', 'lng': '126.54825445912047'},
 nan,
 {'lat': '37.5994862', 'lng': '127.1358562'},
 {'lat': '37.545968200000004', 'lng': '127.05429815487449'},
 nan,
 nan,
 {'lat': '33.3939924', 'lng': '126.5626653'},
 nan,
 nan,
 {'lat': '33.4694854', 'lng': '126.9192654'},
 nan,
 {'lat': '37.476814700000006', 'lng': '126.72353818699722'},
 {'lat': '33.2434229', 'lng': '126.562662'},
 {'lat': '33.2615382', 'lng': '126.6382265'},
 {'lat': '-6.0287767', 'lng': '-79.6249366'},
 nan,
 {'lat': '33.2707813', 'lng': '126.2784527'},
 nan,
 nan,
 {'lat': '33.2572971', 'lng': '126.515299'},
 {'lat': '33.3068325', 'lng': '126.3159087'},
 {'lat': '33.3661103', 'lng': '126.2002318'},
 nan,
 {'lat': '38.2032817', 'lng': '128.5937982'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2478734', 'lng': '126.5822109'},
 {'lat': '33.22631455', 'lng': '126.56588771910015'},
 nan,
 {'lat': '33.505466999999996', 'lng': '126.46493211405252'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '37.49808', 'lng': '127.0532712'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.4887112', 'lng': '126.80113913555081'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.407754', 'lng': '126.2658559'},
 {'lat': '33.45079', 'lng': '126.3752'},
 nan,
 {'lat': '35.1799528', 'lng': '129.0752365'},
 {'lat': '44.9485137', 'lng': '-93.288355'},
 nan,
 {'lat': '33.2733766', 'lng': '126.70375228529261'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2495742', 'lng': '126.5676091'},
 nan,
 nan,
 nan,
 {'lat': '33.2402469', 'lng': '126.42855774994457'},
 nan,
 nan,
 nan,
 {'lat': '33.2519359', 'lng': '126.5688123'},
 nan,
 nan,
 nan,
 {'lat': '33.55599275', 'lng': '126.79603122376355'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.372059050000004', 'lng': '126.85420224923696'},
 {'lat': '33.46948855', 'lng': '126.49261680277652'},
 {'lat': '37.5913818', 'lng': '127.0196582'},
 {'lat': '33.2346331', 'lng': '126.3712777'},
 nan,
 nan,
 {'lat': '33.5054386', 'lng': '126.5414264'},
 {'lat': '33.47380604999999', 'lng': '126.40575251570422'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.423008', 'lng': '126.6259316'},
 nan,
 nan,
 {'lat': '37.8289042', 'lng': '128.446046'},
 {'lat': '33.2537288', 'lng': '126.5059278'},
 nan,
 nan,
 {'lat': '33.324666', 'lng': '126.843944'},
 nan,
 {'lat': '35.73295705', 'lng': '126.73583661806725'},
 nan,
 {'lat': '33.2549642', 'lng': '126.5062171'},
 {'lat': '33.4528696', 'lng': '126.3417842'},
 {'lat': '37.0227374', 'lng': '126.9180556'},
 nan,
 nan,
 {'lat': '33.2903799', 'lng': '126.3014324'},
 nan,
 {'lat': '33.23332565', 'lng': '126.3130364256601'},
 {'lat': '33.2354639', 'lng': '126.3667768'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.241489', 'lng': '126.5482334'},
 {'lat': '33.2754112', 'lng': '126.6744561'},
 {'lat': '33.4783692', 'lng': '126.8209589'},
 {'lat': '33.507257249999995', 'lng': '126.95500154041363'},
 {'lat': '33.4530683', 'lng': '126.9249291'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3939924', 'lng': '126.5626653'},
 nan,
 {'lat': '33.5024826', 'lng': '126.510722'},
 nan,
 {'lat': '37.6438664', 'lng': '126.6290477'},
 nan,
 nan,
 nan,
 {'lat': '37.5892262', 'lng': '126.7146887'},
 nan,
 nan,
 nan,
 {'lat': '33.2441063', 'lng': '126.3041892'},
 {'lat': '33.2448545', 'lng': '126.40903863853444'},
 {'lat': '33.512268899999995', 'lng': '126.52762979281817'},
 nan,
 nan,
 {'lat': '33.2469271', 'lng': '126.5545282'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.55164', 'lng': '126.78733'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '35.23433', 'lng': '127.96892'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.52502095', 'lng': '126.8604233513482'},
 nan,
 {'lat': '33.2287392', 'lng': '126.4759042'},
 {'lat': '33.2440731', 'lng': '126.5363638'},
 nan,
 {'lat': '33.38034745', 'lng': '126.54825445912047'},
 {'lat': '33.51952', 'lng': '126.496774'},
 nan,
 nan,
 nan,
 {'lat': '37.5971458', 'lng': '126.96252634999999'},
 nan,
 nan,
 nan,
 {'lat': '33.4861009', 'lng': '126.4844494'},
 {'lat': '33.21016965', 'lng': '126.3142779805893'},
 nan,
 nan,
 {'lat': '37.5708871', 'lng': '126.999121'},
 nan,
 {'lat': '33.3254519', 'lng': '126.8439724'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.219275350000004', 'lng': '126.25115705'},
 nan,
 nan,
 {'lat': '33.4584505', 'lng': '126.9420221'},
 {'lat': '33.3939924', 'lng': '126.5626653'},
 {'lat': '38.01763805', 'lng': '23.787946125615214'},
 nan,
 nan,
 {'lat': '33.528254', 'lng': '126.7701281'},
 nan,
 {'lat': '33.4489266', 'lng': '126.9170058'},
 nan,
 nan,
 nan,
 {'lat': '33.2354913', 'lng': '126.3613373'},
 nan,
 {'lat': '35.0818182', 'lng': '126.1213265'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.5197859', 'lng': '126.5718881'},
 nan,
 nan,
 nan,
 {'lat': '33.4599065', 'lng': '126.8325016'},
 nan,
 {'lat': '33.4156745', 'lng': '126.3143699'},
 nan,
 nan,
 {'lat': '37.6918304', 'lng': '129.0325076'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3074453', 'lng': '126.2538471'},
 nan,
 nan,
 {'lat': '33.4584505', 'lng': '126.9420221'},
 nan,
 {'lat': '41.7075066', 'lng': '44.7657721'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3531055', 'lng': '126.7715294'},
 nan,
 {'lat': '35.022737', 'lng': '126.7880187'},
 nan,
 nan,
 nan,
 {'lat': '33.2425081', 'lng': '126.5548104'},
 nan,
 nan,
 nan,
 {'lat': '33.2476846', 'lng': '126.559189'},
 {'lat': '33.4366945', 'lng': '126.9222208'},
 {'lat': '33.3939924', 'lng': '126.5626653'},
 {'lat': '33.2945665', 'lng': '126.1632411'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.438543', 'lng': '126.9172397'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.248499699999996', 'lng': '126.4106666926097'},
 nan,
 nan,
 nan,
 {'lat': '33.2644805', 'lng': '126.3704345'},
 nan,
 {'lat': '35.21534835', 'lng': '126.8795533'},
 nan,
 nan,
 nan,
 {'lat': '33.5325216', 'lng': '126.8501235'},
 {'lat': '33.2621889', 'lng': '126.6205864'},
 {'lat': '37.4043746', 'lng': '126.6810632'},
 nan,
 nan,
 nan,
 {'lat': '33.2601067', 'lng': '126.6075261'},
 nan,
 {'lat': '33.4507097', 'lng': '126.9143356'},
 {'lat': '1.6647704', 'lng': '101.4564493'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3892637', 'lng': '126.8012691'},
 nan,
 {'lat': '33.210157', 'lng': '126.2914269'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.43178975', 'lng': '126.69374590036497'},
 {'lat': '33.460409', 'lng': '126.9308418'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.469226', 'lng': '126.9199064'},
 nan,
 nan,
 {'lat': '46.3144754', 'lng': '11.0480288'},
 nan,
 {'lat': '33.38034745', 'lng': '126.54825445912047'},
 {'lat': '33.2572971', 'lng': '126.515299'},
 {'lat': '33.3939924', 'lng': '126.5626653'},
 {'lat': '-0.1887908', 'lng': '-78.4874572'},
 nan,
 nan,
 nan,
 {'lat': '33.38034745', 'lng': '126.54825445912047'},
 {'lat': '40.8466508', 'lng': '-73.8785937'},
 nan,
 {'lat': '33.3617536', 'lng': '126.5291977'},
 {'lat': '33.3663086', 'lng': '126.3574576'},
 {'lat': '33.55164', 'lng': '126.78733'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3068325', 'lng': '126.3159087'},
 nan,
 {'lat': '33.4584505', 'lng': '126.9420221'},
 nan,
 nan,
 {'lat': '33.3939924', 'lng': '126.5626653'},
 {'lat': '33.3884699', 'lng': '126.2647753'},
 {'lat': '33.3085402', 'lng': '126.6344826'},
 nan,
 {'lat': '33.4887112', 'lng': '126.80113913555081'},
 nan,
 {'lat': '35.8713', 'lng': '128.6018'},
 {'lat': '33.3939924', 'lng': '126.5626653'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2783709', 'lng': '126.71240130847076'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.3305', 'lng': '126.21066'},
 nan,
 {'lat': '-11.8951827', 'lng': '33.5970219'},
 {'lat': '33.2656951', 'lng': '126.4842658'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.430298050000005', 'lng': '126.92792833511179'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '36.4799999', 'lng': '127.289'},
 nan,
 nan,
 nan,
 {'lat': '37.476814700000006', 'lng': '126.72353818699722'},
 nan,
 nan,
 nan,
 {'lat': '37.55104595', 'lng': '126.9531259'},
 nan,
 {'lat': '33.3939924', 'lng': '126.5626653'},
 {'lat': '33.4484343', 'lng': '126.400555'},
 nan,
 nan,
 {'lat': '47.2176598', 'lng': '-1.5541137'},
 {'lat': '33.2438714', 'lng': '126.4155344996315'},
 {'lat': '33.3607275', 'lng': '126.5210271'},
 nan,
 nan,
 {'lat': '33.5381811', 'lng': '126.67218181499402'},
 {'lat': '33.2733766', 'lng': '126.70375228529261'},
 nan,
 {'lat': '33.1997201', 'lng': '126.29021937499999'},
 {'lat': '33.44757245', 'lng': '126.67207148117231'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '34.7810635', 'lng': '128.5638955'},
 nan,
 nan,
 {'lat': '33.2354639', 'lng': '126.3667768'},
 nan,
 {'lat': '33.41805', 'lng': '126.88147'},
 nan,
 nan,
 nan,
 {'lat': '37.353598950000006', 'lng': '127.7855438869441'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.241489', 'lng': '126.5482334'},
 nan,
 nan,
 {'lat': '37.5913818', 'lng': '127.0196582'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.25227635', 'lng': '126.40698008336571'},
 {'lat': '33.311174050000005', 'lng': '126.14730040623535'},
 nan,
 nan,
 nan,
 {'lat': '33.2448545', 'lng': '126.40903863853444'},
 nan,
 nan,
 {'lat': '37.5504858', 'lng': '126.9208453'},
 nan,
 {'lat': '36.7056293', 'lng': '127.42371441947944'},
 nan,
 {'lat': '48.0694369', 'lng': '17.3858373'},
 {'lat': '33.4530683', 'lng': '126.9249291'},
 {'lat': '37.8055889', 'lng': '126.2652492'},
 {'lat': '33.4997134', 'lng': '126.5314231'},
 {'lat': '33.3471459', 'lng': '126.32675331839627'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '16.0135224', 'lng': '120.41484613717651'},
 {'lat': '33.50707105', 'lng': '126.4916441196128'},
 nan,
 {'lat': '37.4924977', 'lng': '127.4994231'},
 {'lat': '33.44959775', 'lng': '126.65879559554435'},
 nan,
 {'lat': '33.2515881', 'lng': '126.5627986'},
 nan,
 nan,
 nan,
 {'lat': '33.423008', 'lng': '126.6259316'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.248499699999996', 'lng': '126.4106666926097'},
 {'lat': '33.47380604999999', 'lng': '126.40575251570422'},
 nan,
 {'lat': '33.28617', 'lng': '126.70751'},
 nan,
 nan,
 {'lat': '33.5319329', 'lng': '126.6361843'},
 {'lat': '33.45079', 'lng': '126.3752'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.43178975', 'lng': '126.69374590036497'},
 {'lat': '33.4528696', 'lng': '126.3417842'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.5160487', 'lng': '126.5120041'},
 nan,
 nan,
 {'lat': '37.5619247', 'lng': '126.8013934'},
 nan,
 {'lat': '35.0643095', 'lng': '126.9864311'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '39.0105176', 'lng': '73.5586119'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '40.4888214', 'lng': '-3.3295708'},
 nan,
 nan,
 nan,
 {'lat': '33.5054386', 'lng': '126.5414264'},
 nan,
 {'lat': '33.55599275', 'lng': '126.79603122376355'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2576253', 'lng': '126.4135534'},
 nan,
 nan,
 nan,
 {'lat': '37.57047', 'lng': '127.0113889'},
 {'lat': '33.2469271', 'lng': '126.5545282'},
 nan,
 nan,
 nan,
 {'lat': '37.8289042', 'lng': '128.446046'},
 {'lat': '33.32653', 'lng': '126.82879'},
 nan,
 nan,
 {'lat': '33.5197859', 'lng': '126.5718881'},
 {'lat': '33.2668804', 'lng': '126.5137393'},
 {'lat': '35.23433', 'lng': '127.96892'},
 {'lat': '33.50707105', 'lng': '126.4916441196128'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '37.0227374', 'lng': '126.9180556'},
 nan,
 nan,
 nan,
 nan,
 {'lat': '45.2908372', 'lng': '14.0944912'},
 nan,
 nan,
 nan,
 {'lat': '33.48306705', 'lng': '126.80618965585273'},
 {'lat': '36.784499', 'lng': '126.450317'},
 {'lat': '33.256294', 'lng': '126.4279173'},
 nan,
 nan,
 {'lat': '33.43178975', 'lng': '126.69374590036497'},
 {'lat': '36.638392', 'lng': '127.6961188'},
 {'lat': '37.5892262', 'lng': '126.7146887'},
 {'lat': '37.5666791', 'lng': '126.9782914'},
 {'lat': '33.5189083', 'lng': '126.51805583654874'},
 {'lat': '33.2444906', 'lng': '126.5638992'},
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.2615382', 'lng': '126.6382265'},
 nan,
 nan,
 nan,
 {'lat': '33.5564839', 'lng': '126.7926266'},
 nan,
 nan,
 nan,
 {'lat': '33.5160487', 'lng': '126.5120041'},
 nan,
 {'lat': '9.5212306', 'lng': '123.4325099'},
 nan,
 nan,
 nan,
 {'lat': '33.52502095', 'lng': '126.8604233513482'},
 nan,
 nan,
 {'lat': '33.4599065', 'lng': '126.8325016'},
 {'lat': '33.241489', 'lng': '126.5482334'},
 {'lat': '33.230042350000005', 'lng': '126.49850819550923'},
 nan,
 nan,
 nan,
 nan,
 nan,
 {'lat': '33.303866', 'lng': '126.3925006036691'},
 nan,
 nan,
 nan,
 {'lat': '33.2470952', 'lng': '126.5089021'},
 nan,
 nan,
 {'lat': '33.2462695', 'lng': '126.50910713230071'},
 {'lat': '33.2503049', 'lng': '126.41213672786351'},

In [ ]:
df = pd.DataFrame({'지역명' : df_place, '위치' : crd})

In [ ]:
df2 = df[df.위치.isna() != 1]

In [ ]:
df2 = df2.reset_index()
df2

,index,지역명,위치
0,0,Seogwipo,"{'lat': '33.2572971', 'lng': '126.515299'}"
1,1,청초수물회&섭국 [신관],"{'lat': '37.220334949999994', 'lng': '127.3153..."
2,3,"Busan, South Korea","{'lat': '35.1799528', 'lng': '129.0752365'}"
3,4,NaN,"{'lat': '46.3144754', 'lng': '11.0480288'}"
4,6,Jeju,"{'lat': '33.3939924', 'lng': '126.5626653'}"
...,...,...,...
507,1417,한라생태숲,"{'lat': '33.43158435', 'lng': '126.60092741157..."
508,1418,용연구름다리,"{'lat': '33.5149038', 'lng': '126.5141851'}"
509,1420,관덕정,"{'lat': '37.583299600000004', 'lng': '126.9946..."
510,1422,엉또폭포,"{'lat': '33.268431050000004', 'lng': '126.5000..."
511,1425,동문로터리,"{'lat': '33.5133052', 'lng': '126.5276812'}"

In [ ]:
df2 = df2.drop('index', axis = 1)

In [ ]:
df2.to_csv('jejumap.csv')

In [ ]:
df2['위도'] = 0
df2['경도'] = 0
for i in range(len(df2.위치)):
    df2['위도'].iloc[i] = float(df2.위치[:][i]['lat'])
    df2['경도'].iloc[i] = float(df2.위치[:][i]['lng'])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
jejumap = folium.Map(location = [33.26,126.5],zoom_start=12)
for name, lat, lng in zip(df2.지역명, df2.위도, df2.경도):
    folium.Marker([lat, lng], popup=name).add_to(jejumap)

# 지도를 HTML 파일로 저장하기
jejumap.save('./top5.html')

In [ ]:
df3 = df2[((df2.위도 >= 33.11) & (df2.위도 <= 34.0)) & ((df2.경도 >= 126.0) & (df2.경도 <= 127.0))]

In [ ]:
# 북위 331127～333350, 동경 1260843″～1265820

In [ ]:
df3 = df3.reset_index().drop('index', axis = 1)

In [ ]:
df3

,지역명,위치,위도,경도
0,Seogwipo,"{'lat': '33.2572971', 'lng': '126.515299'}",33.257297,126.515299
1,Jeju,"{'lat': '33.3939924', 'lng': '126.5626653'}",33.393992,126.562665
2,Jeju-do,"{'lat': '33.3939924', 'lng': '126.5626653'}",33.393992,126.562665
3,새별오름,"{'lat': '33.3663086', 'lng': '126.3574576'}",33.366309,126.357458
4,"Namwon Seogwipo Jeju,South korea","{'lat': '33.2783709', 'lng': '126.712401308470...",33.278371,126.712401
...,...,...,...,...
370,서귀포 이마트,"{'lat': '33.248332899999994', 'lng': '126.5090...",33.248333,126.509085
371,한라생태숲,"{'lat': '33.43158435', 'lng': '126.60092741157...",33.431584,126.600927
372,용연구름다리,"{'lat': '33.5149038', 'lng': '126.5141851'}",33.514904,126.514185
373,엉또폭포,"{'lat': '33.268431050000004', 'lng': '126.5000...",33.268431,126.500086
374,동문로터리,"{'lat': '33.5133052', 'lng': '126.5276812'}",33.513305,126.527681

In [ ]:
df3['color'] = ''
df3['dataframe'] = 0
for i in range(len(df3)):
  if df3.지역명.iloc[i] in list(df_1.place.unique()) :
    df3['dataframe'].iloc[i] = 1
    df3['color'].iloc[i] = 'blue'
  elif df3.지역명.iloc[i] in list(df_2.place.unique()) :
    df3['dataframe'].iloc[i]  = 2
    df3['color'].iloc[i] = 'orange'
  elif df3.지역명.iloc[i] in list(df_3.place.unique()):
    df3['dataframe'].iloc[i]  = 3
    df3['color'].iloc[i] = 'red'
  elif df3.지역명.iloc[i] in list(df_4.place.unique()):
    df3['dataframe'].iloc[i]  = 4
    df3['color'].iloc[i] = 'green'
  else :
    df3['color'].iloc[i] = 'black'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df_list = []
for i in range(len(df3)):
  if df3.dataframe.iloc[i] == 1:
    df_list.append(df_1[df_1.place == df3.지역명.iloc[i]])
  elif df3.dataframe.iloc[i] == 2:
    df_list.append(df_2[df_2.place == df3.지역명.iloc[i]])
  elif df3.dataframe.iloc[i] == 3:
    df_list.append(df_3[df_3.place == df3.지역명.iloc[i]])
  elif df3.dataframe.iloc[i] == 4:
    df_list.append(df_4[df_4.place == df3.지역명.iloc[i]])

In [ ]:
df3

,지역명,위치,위도,경도,color,dataframe,like
0,Seogwipo,"{'lat': '33.2572971', 'lng': '126.515299'}",33.257297,126.515299,blue,1,0
1,Jeju,"{'lat': '33.3939924', 'lng': '126.5626653'}",33.393992,126.562665,blue,1,0
2,Jeju-do,"{'lat': '33.3939924', 'lng': '126.5626653'}",33.393992,126.562665,blue,1,0
3,새별오름,"{'lat': '33.3663086', 'lng': '126.3574576'}",33.366309,126.357458,blue,1,0
4,"Namwon Seogwipo Jeju,South korea","{'lat': '33.2783709', 'lng': '126.712401308470...",33.278371,126.712401,blue,1,0
...,...,...,...,...,...,...,...
370,서귀포 이마트,"{'lat': '33.248332899999994', 'lng': '126.5090...",33.248333,126.509085,green,4,0
371,한라생태숲,"{'lat': '33.43158435', 'lng': '126.60092741157...",33.431584,126.600927,green,4,0
372,용연구름다리,"{'lat': '33.5149038', 'lng': '126.5141851'}",33.514904,126.514185,red,3,0
373,엉또폭포,"{'lat': '33.268431050000004', 'lng': '126.5000...",33.268431,126.500086,green,4,0
374,동문로터리,"{'lat': '33.5133052', 'lng': '126.5276812'}",33.513305,126.527681,green,4,0

In [ ]:

df3['like'] = 0
for i in range(len(df3)):
  if type(df_list[i].like.values[0]) == str:
    temp=df_list[i].like.str.replace(',','')
    temp[temp.isna()!=0] = '0'
    df3['like'].iloc[i] = temp.astype('int').sum()

In [ ]:
temp = df3.drop_duplicates(['지역명']).reset_index().drop('index',axis = 1)
temp

,지역명,위치,위도,경도,color,dataframe,like
0,Seogwipo,"{'lat': '33.2572971', 'lng': '126.515299'}",33.257297,126.515299,blue,1,1294
1,Jeju,"{'lat': '33.3939924', 'lng': '126.5626653'}",33.393992,126.562665,blue,1,14388
2,Jeju-do,"{'lat': '33.3939924', 'lng': '126.5626653'}",33.393992,126.562665,blue,1,1480
3,새별오름,"{'lat': '33.3663086', 'lng': '126.3574576'}",33.366309,126.357458,blue,1,7
4,"Namwon Seogwipo Jeju,South korea","{'lat': '33.2783709', 'lng': '126.712401308470...",33.278371,126.712401,blue,1,35
...,...,...,...,...,...,...,...
236,연북정,"{'lat': '33.5400778', 'lng': '126.636073489833...",33.540078,126.636073,green,4,45
237,서귀포 이마트,"{'lat': '33.248332899999994', 'lng': '126.5090...",33.248333,126.509085,green,4,140
238,한라생태숲,"{'lat': '33.43158435', 'lng': '126.60092741157...",33.431584,126.600927,green,4,59
239,엉또폭포,"{'lat': '33.268431050000004', 'lng': '126.5000...",33.268431,126.500086,green,4,56
240,동문로터리,"{'lat': '33.5133052', 'lng': '126.5276812'}",33.513305,126.527681,green,4,139

In [ ]:
df4 = temp.drop_duplicates(['위도','경도']).reset_index().drop('index',axis = 1)

In [ ]:
from folium.plugins import MarkerCluster
jejumap = folium.Map(location = [33.26,126.5],zoom_start=12)
marker_cluster = MarkerCluster().add_to(jejumap)
for name, lat, lng, color,like in zip(df4.지역명, df4.위도, df4.경도, df4.color,df4.like):
    folium.Marker([lat, lng], popup=folium.Popup(f'지역명 : {name}<br> 좋아요 수 :{like}', min_width=200, max_width=200),icon=folium.Icon(color = color)).add_to(marker_cluster)

# 지도를 HTML 파일로 저장하기
jejumap.save('./jejumap.html')

In [ ]:
df3.to_csv('jeju.csv')